{{#if (eq page.layout 'home')}}
<div class="action-wrap">
  <div class="action">
    <div>
      <h1>Try out RHPDS now</h1>
    </div>
    <div>
      <a class="try-button" href="walkthroughs.html">Get started</a>
    </div>
  </div>
</div>
{{/if}}

<footer class="footer">
  <div class="wrap">
    <div class="logo">
    </div>
    <div>
      <h3>Product sites</h3>
      <ul>
        <li><a href="">3scale</a></li>
        <li><a href="">Che</a></li>
        <li><a href="">EnMasse</a></li>
        <li><a href="">Fuse Online</a></li>
        <li><a href="">Launcher</a></li>
        <li><a href="">RH-SSO</a></li>
        <li><a href="">Solution Explorer</a></li>
        <li><a href="">Apicurito</a></li>
        <li><a href="">Nexus</a></li>
      </ul>
    </div>
    <div>
      <h3>Community</h3>
      <ul>
        <li><a href="">Github</a></li>
        <li><a href="">Jira Repo Issues</a></li>
        <li><a href="">Contribution Guide</a></li>
        <li><a href="">Google Group</a></li>
        <li><a href="">IRC</a></li>
      </ul>
    </div>
    <div>
      <h3>Social</h3>
      <ul>
        <li><a href="">Twitter</a></li>
        <li><a href="">YouTube</a></li>
        <li><a href="">Feed</a></li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    The Integreatly project is licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a> License, and is subject to the <a href="/legal/export">Export
      Policy</a>.
  </div>
</footer>