<article class="feat-wrap">
  <div class="feat feat-left solution">
    <p class="feat-title">
      Some fancy catchphrase about the Solution Explorer and how it will solve all your problems
    </p>

    <p>
      Single web-based user interface that provides access to an opinionated integration solution offering
      automated provisioning, single sign-on and pre-configured solution patterns.
    </p>

    <p>
      <a href="/docs/walkthroughs.html">Learn more &rarr;</a>
    </p>
  </div>
</article>
