<article class="feat-wrap">
  <div class="feat feat-left stack tower">
    <p class="feat-title">
      What are the differences between Integreatly and Red Hat Managed Integration?
    </p>

    <p>
      RHMI is Red Hat’s Agile Integration technology available as hosted, managed services to reduce
      operational
      risk, cost, and effort required to deliver integrated applications. Hosted on OpenShift Dedicated and
      available through a unified web app.
    </p>

    <p>
      <a href="/docs/walkthroughs.html">Learn more &rarr;</a>
    </p>
  </div>
</article>
